<server description="StackUnderflow">
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>jsp-2.3</feature>
        <feature>cdi-2.0</feature>
        <feature>jdbc-4.2</feature>
        <feature>jndi-1.0</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>

    <httpEndpoint
            id="defaultHttpEndpoint"
            httpPort="${env.PORT}"/>

    <library id="driver-library">
        <fileset dir="${server.config.dir}/drivers/" includes="*.jar"/>
    </library>

    <dataSource id="DefaultDataSource" jndiName="jdbc/db">
        <jdbcDriver libraryRef="driver-library"/>
        <properties.postgresql serverName="${env.JDBC_DATABASE_URL}"
                               user="${env.JDBC_DATABASE_USERNAME}"
                               password="${env.JDBC_DATABASE_PASSWORD}"
                               databaseName="${env.JDBC_DATABASE_NAME}"/>
    </dataSource>

    <applicationMonitor updateTrigger="mbean"/>

    <quickStartSecurity userName="admin" userPassword="admin" />

    <keyStore id="defaultKeyStore" password="password" location="key.jks" type="JKS"/>

    <remoteFileAccess>
        <writeDir>${server.config.dir}/dropins</writeDir>
    </remoteFileAccess>

</server>